header
{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
    z-index: 2;
}

h1
{
    font-size: xx-large;
    text-align: center;
    color: #085CA6;
}

h2
{
    font-size: x-large;
    color: #085CA6;
}

h3
{
    font-size: medium;
}

body
{
    background-image: url("pictures/woodCut4.png");
    background-attachment: fixed; /* Le fond restera fixe */
    background-position: center;
    background-size: cover;
}
section
{
    border-radius: 10px;
    padding: 5px;
    background-color: silver;
    opacity: 0.7;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    z-index: 1;
}
footer
{
    padding-top: 5px;
    padding-bottom: 1px;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: black;
    width: 100%;
    height: auto;
    bottom: 0px;
    left: 0px;
    color: #085CA6;
    z-index: 2;
}

.intro
{
    text-align: center;
}
.link
{
    color: rgb(5, 39, 102);
    text-decoration: none;
}
.linkFooter
{
    text-decoration: none;
    color: #085CA6;
}
.iconImg
{
    width: 20px;
    height: 20px;
}
.beforeAdress
{
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.adress
{
    text-align: center;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 20px;
}
.centerTitle
{
    text-align: center;
}
table
{
    table-layout: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
    border-spacing: 10px;
}
.copyright
{
    font-size: small;
}