header
{
    /* position: fixed; */
    background-color: #000000b2;
    /* width: 100%; */
    min-height: 80px;
    height: 10%;
    margin-top: 0;
    z-index: 2;
    display: flex;
    flex-direction: raw;
    /* justify-content: center; */
}

body {
    margin: 0;
}

h1
{
    padding-top: 40px;
    font-size: xx-large;
    text-align: center;
    color: #085CA6;
    width: 100%;
    display: inline;
}

.profilPicture {
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2
{
    font-size: x-large;
    color: #085CA6;
}

h3
{
    font-size: medium;
}

body
{
    background-image: url("pictures/woodCut4.png");
    background-attachment: fixed; /* Le fond restera fixe */
    background-position: center;
    background-size: cover;
}
section
{
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(192,192,192,0.90);
    min-width: 800px;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: max(140px,8%);
    margin-bottom: 8%;
    z-index: 1;
}
footer
{
    padding-top: 5px;
    padding-bottom: 1px;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: black;
    width: 100%;
    height: auto;
    bottom: 0px;
    left: 0px;
    color: #085CA6;
    z-index: 2;
}

.intro
{
    text-align: center;
}
.link
{
    color: #015299;
    text-decoration: none;
}
.linkFooter
{
    text-decoration: none;
    color: #085CA6;
}
.iconImg
{
    width: 20px;
    height: 20px;
}
.beforeAdress
{
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.adress
{
    text-align: center;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 20px;
}
.centerTitle
{
    text-align: center;
}
table
{
    table-layout: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
    border-spacing: 10px;
}
.copyright
{
    font-size: small;
}
#bouton
{
    width: 100px;
    text-align: center;
    border:groove black;
    background-color: red;
    opacity: 0.7;
}
#formUser
{
    display: flex;
    flex-direction: column;
}
button
{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
        Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}
.colPreviewPubli{
    vertical-align: middle;
    width:20%;
}
.picturePubli{
    width:100%;
}
.row{
    display: flex;
}
.paperDescription{
    margin-left: 2%;
    vertical-align: middle;
}
.fullsize{
    width: 100%;
}